body{
    background-image: url('imgs/Screenshot_17.png');
    transform: scale(0.9); /* Establece el zoom inicial al 90% */
}
.imagen{
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 50px;
}

.images{
    display: flex;
    justify-content: space-between;
}

*{
    margin: 0;
}


.contenedor{
    border: 1px solid #b60000; /* 1px de ancho, estilo sólido, color gris claro */
    background-color: #5eb814;
    width: 800px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;
}

p{
    font-size: 55px;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

.btna {
    background-color: #fc24b4;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
  }
p{
    color: rgb(134, 10, 10);
}

button{
    color: blueviolet;
    background-color: rgb(67, 6, 180);
}

#yesBtn, #noBtn {
    font-size: 30px; /* Aumenta el tamaño de la fuente */
    padding: 30; /* Aumenta el padding para que los botones sean más grandes */
  }